.toptoolwrapper {
  width: 1280px;
  height: 40px;
  border-bottom: 1px solid #a9a9a9;
  background: #f7f8fb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.help {
  
}
.contact {
  
}
.close {
}
