.sideBar {
  flex: 1.2;
  border: 0.7px solid rgb(230, 227, 227);
  max-height: 100vh;
  background-color: #343a40;
  overflow-y: none;
  width: 300px;
  transition: all 0.5s ease;

  .top {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 22px;
      font-weight: bold;
      color: #c2c2c2;
      z-index: 10;
    }
  }
  hr {
    height: 0;
    border: 0.7px solid rgb(95, 88, 88);
  }
  .center {
    padding-left: 8px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;

        &:hover {
          background-color: #40c057;
          border-radius: 12px;
        }

        &:hover {
          span {
            z-index: 1;
            color: white;
            font-size: 19px;
          }

          .icon {
            font-size: 26px;
            color: white;
          }
        }
        .icon {
          font-size: 26px;
          color: #c2c2c2;
        }
        span {
          font-size: 18px;
          font-weight: 500;
          color: #c2c2c2;
          margin-left: 10px;
        }
      }
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;
    .coloroption {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1) {
        background-color: whitesmoke;
      }
      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}
.sideBar::-webkit-scrollbar {
  width: 10px;
}

.sideBar::-webkit-scrollbar-thumb {
  background-color: #635e5e;
  border-radius: 5px;
}

.sideBar::-webkit-scrollbar-thumb:hover {
  background-color: #635c5c;
}

.sideBar::-webkit-scrollbar-track {
  background-color: #b19e9e;
  border-radius: 5px;
}

.sideBar::-webkit-scrollbar-track:hover {
  background-color: #c9b8b8;
  max-height: 350px;
}
