.home {
  display: flex;
  min-height: 100vh;
  background-color: #f8f9fa;

  .homeContainer {
    flex: 6;
    .widgetcontainerwrapper {
      display: flex;
      width: 100%;
      .container1 {
        flex: 72%;
        height: 90vh;
        .topwidget {
          height: 48%;
          .widgets {
            display: flex;
            gap: 10px;
            margin: 10px 8px;
            padding: 15px;
            .salewidget {
              flex: 55%;
            }
            .purchasewidget {
              flex: 35%;
            }
          }
        }
        .bottomwidget {
          height: 50%;
          .bottomwidgets {
            margin: 10px 15px;
            min-height: 280px;
            display: flex;
            gap: 10px;
            .youwillreceive {
              flex: 30%;
            }
            .youwillpay {
              flex: 30%;
            }
            .expenses {
              flex: 30%;
            }
          }
        }
      }
      .container2 {
        display: flex;
        flex-direction: column;
        flex: 28%;
        background-color: rgb(211, 211, 199);
        height: 90vh;
      }
    }
  }
}
