.Expensecontainer {
  width: 100%;
  background-color: #f1f3f5;
  height: 280px;
  border-radius: 12px;

  .Expenseswrapper {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .expensesicon {
      font-size: 34px;
      color: #fa5252;
    }
    span {
      font-size: 20px;
      color: #636675;
      font-weight: 500;
    }
    select {
      border: none;
      outline: none;
      font-size: 16px;
      padding: 3px 2px;
      border-radius: 12px;
      background-color: #b4bac0;

      option {
        margin-top: 10px;
        color: #43454d;
        padding: 5px 0px;
      }
    }
  }
  .expensesamount {
    background-color: transparent;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    span {
      font-size: 24px;
      font-weight: 500;
      color: #39393d;
      margin-left: 40px;
    }
    .expensesstatusicon {
      margin-left: 15px;
      font-size: 34px;
      color: red;
    }
  }
  .dateinfo {
    font-size: 16px;
    text-align: center;
    padding: 5px 3px;
    margin-left: 25px;
  }
  .expensesdata {
    margin-top: 20px;
    padding: 3px 10px;
  }
}
